<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vuetify</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
    <style>
        .brd{
            border: 1px solid tomato;
            background: #999
        }
    </style>
</head>
<body>
    <div id="app">
         <v-app>
            <v>
                <v-container>
                  <v-row class="text-center">
                    <v-col cols="12" class="brd">12 column</v-col>
                    <v-col cols="6" class="brd">6 column</v-col>
                    <v-col cols="3" class="brd">3 column</v-col>
                    <v-col cols="4" class="brd">4 column</v-col>
                    <v-col cols="1" v-for="item in 12" :key="item.id" class="brd">1</v-col>
                  </v-row>
                  <br>
                  <br>
                  <v-row class="text-center">
                    <v-col cols="1" v-for="item in 20" :key="item.id" class="brd">1</v-col>
                  </v-row>
                </v-container>
                <br>
                <v-container fluid>
                  <v-row class="text-center">
                    <v-col cols="6" sm="4" md="8" class="brd">sm4</v-col>
                    <v-col cols="6" sm="4" md="4" offset-md="0" offset-sm="4" class="brd">sm4</v-col>
                  </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify()
        })
    </script>
</body>
</html>