<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vuetify 토글메뉴</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
</head>

<body>
    <div id="app">
        <v-app>
            <!-- 상단영역에 툴바 배치하고 좌측에 메뉴 아이콘 추가 -->
            <v-app-bar app color="primary" dark>
                <!-- 메뉴 아이콘을 누르면 클릭기능 비활성화 -->
                <v-app-bar-nav-icon @click.stop="bDrawer = !bDrawer"></v-app-bar-nav-icon>
                <v-toolbar-title>
                    Header
                </v-toolbar-title>
            </v-app-bar>

            <!-- bDrawer가 True이면 탐색 서랍 사용하도록 바인딩 -->
            <v-navigation-drawer absolute temporary v-model="bDrawer">
                <!-- 안쪽 툴바에 플랫 스타일로 메뉴 제목 작성 -->
                <v-toolbar flat height="100px">
                    <v-list>
                        <v-list-item>
                            <img src="images/sky.jpg" alt="">
                        </v-list-item>
                        <v-list-item-content>
                            <v-list-item-title class="title">홍길동</v-list-item-title>
                            <v-list-item-subtitlte>로그아웃</v-list-item-subtitlte>
                        </v-list-item-content>
                    </v-list>
                </v-toolbar>

                <v-list class="pt-3">
                    <v-list-item v-for="item in menu_items" :key="item.title" :href="item.link">
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                // 버튼을 누르면 비활성화되도록 하는 토글 변수
                bDrawer: false,

                // 배열로 메뉴의 제목, 아이콘, 링크 준비
                menu_items: [{
                    title: '스타벅스',
                    icon: 'fa-coffe',
                    link: 'http://www.starbucks.com'
                }, 
                {
                    title: '애플',
                    icon: 'mdi-apple',
                    link: 'http://www.apple.com'
                }, 
                {
                    title: '페이스북',
                    icon: 'mdi-facebook-book',
                    link: 'http://www.facebook.com'
                },

                ]
            },

        })
    </script>
</body>

</html>